body {
    background-color: #f0f0f0; /* Light grey background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333; /* Dark color for text */
}

.btn-primary {
    background-color: red;
    border-color: red;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff; /* White text */
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-primary:hover {
    background-color: darkred;
    border-color: darkred;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem darkred; /* Focus effect */
}

.btn-group-vertical .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Spacing between buttons */
}

.puzzleimage {
    background-color: red;
}

svg {
    width: 100%;
    max-width: 500px;
    height: auto;
}

form {
    margin-top: 5px;
}

rect {
    fill: white;
}

circle, line {
    stroke: white;
    stroke-width: 1.5%;
    fill: none;
}

text {
    text-anchor: middle;
    font-size: 34px;
}

.central {
    font-size: 30px;
    fill: white;
}

.known { fill: white; }
.unknown { fill: yellow; }

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1px;
    margin-top: 20px;
    width: 100%;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 50px;
    min-width: 15px;
    flex: 1;
    aspect-ratio: 1;
}

.clickable {
    cursor: pointer;
}
.non-clickable {
    cursor: default;
}
.inactive {
    cursor: default;
    background-color: #d3d3d3;
}

.timer {
    margin-top: 20px;
    font-size: 24px;
    margin: 0 auto;
}

.number {
    color: red;
    font-weight: bold;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.new-game-section {
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-right: 20px;
}

.player-name-section {
    margin-bottom: 15px;
}

.player-name-section label {
    font-weight: bold;
}

.info-icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bold {
    font-weight: bold;
}

.game-context {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.letters-bought-context {
    text-align: right;
        /* margin-right: 5px; Adjust spacing to suit your layout */
}
.woordpanel {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.menu-items {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
}

.menu-items a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.menu-items a:hover {
    background-color: #f0f0f0;
}
