<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quizname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="new-game-section">
        <form data-new-game-url="{{ new_game_url }}" method="get" id=newGameForm>

            <div class="player-name-section">
                <label for="playername">Player Name:</label>
                <input type="text" id="playername" name="playername" maxlength="15" placeholder="Enter your name">
                <div class="tooltip">
                    <span class="info-icon">ℹ️</span>
                    <span class="tooltiptext">Enter your name here. It will be saved in your browser for your next visit! It will also be saved to the database. This field is optional and may be left empty.</span>
                </div>
            </div>
            {% block extrainfogamesetup %}{% endblock %}

            <button type="submit">New Game</button>
        </form>
    </div>

    <div class="timer" id="timer">{{ '02:00' if active else '--:--' }}</div>

    {% block puzzle %}{%endblock %}

    <form data-submit-guess-url="{{ submit_guess_url }}" method="post" id="submitGuessForm">
        <input type="text" id="guessInput" name="guess" placeholder="Enter your guess" maxlength="15">
        <input type="submit" value="Submit Guess">
    </form>


    <div id="result"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
