{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/small_puzzles.css') }}">
{% endblock %}

{% block puzzle %}
<div class="puzzleimage">
    <svg width="100%" height="100%" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
    {% block puzzleimageframework %}{% endblock %}
    <g id="puzzlespecific"></g>
    </svg>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/smallpuzzles.js') }}"></script>
{% endblock %}