{% extends 'base_small_puzzles.html' %}

{% set quizname = 'Paardensprong' %}
{% set new_game_url = url_for('new_paardensprong') %}
{% set submit_guess_url = url_for('guess_paardensprong') %}

{% block spelregels %}
Raad het woord! <br>
In deze puzzel staat een woord van 8 letters, gelezen als een paardensprong.<br>
Na de eerste letter moet telkens worden gesprongen als een paard in het schaakspel -
oftewel 2 vakjes worden overgeslagen. Bepaal waar het woord begint en of het mee of
tegen de klok in moet worden gelezen.

Modes: je kunt het spel spelen in twee modes:<br>
normal: De puzzel wordt willekeurig gekozen<br>
hard: er is een grotere kans om een moeilijke puzzel te krijgen (gebaseerd op een model om de kans op een goed antwoord
in te schatten)
{% endblock %}

{% block puzzleimageframework%}
<!-- Draw grid cells and letters using relative positioning -->
<!-- Row 1 -->
<rect x="3.33%" y="3.33%" width="26.66%" height="26.66%" />
<rect x="36.66%" y="3.33%" width="26.66%" height="26.66%" />
<rect x="70%" y="3.33%" width="26.66%" height="26.66%" />

<!-- Row 2 -->
<rect x="3.33%" y="36.66%" width="26.66%" height="26.66%" />
<!-- Central Circle and Arc -->
<circle cx="50%" cy="50%" r="15%" />
<text x="50%" y="46%" class="central">2V</text>
<text x="50%" y="54%" class="central">12</text>
<rect x="70%" y="36.66%" width="26.66%" height="26.66%" />

<!-- Row 3 -->
<rect x="3.33%" y="70%" width="26.66%" height="26.66%" />
<rect x="36.66%" y="70%" width="26.66%" height="26.66%" />
<rect x="70%" y="70%" width="26.66%" height="26.66%" />
{% endblock %}