{% extends 'base_small_puzzles.html' %}

{% set quizname = 'Taartpuzzel' %}
{% set new_game_url = url_for('new_taartpuzzel') %}
{% set submit_guess_url = url_for('guess_taartpuzzel') %}

{% block spelregels %}
Raad het woord! <br>
In deze taart staat een woord van 9 letters, waarvan 1 ontbreekt en is vervangen door het vraagteken.<br>
Bepaal waar het woord begint en of het mee of tegen de klok in moet worden gelezen.
{% endblock %}

{% block puzzleimageframework %}
<!-- Outer circle -->
<circle cx="50%" cy="50%" r="50%"/>
<!-- Inner circle -->
<circle cx="50%" cy="50%" r="10%"/>
<!-- Lines dividing the segments -->
<line x1="50%" y1="0%" x2="50%" y2="40%" />
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(40 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(80 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(120 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(160 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(200 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(240 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(280 250 250)"/>
<line x1="50%" y1="0%" x2="50%" y2="40%" transform="rotate(320 250 250)"/>
<!-- Central text -->
<text x="50%" y="47.5%" class="central" >2V</text>
<text x="50%" y="52.5%" class="central">12</text>
{% endblock %}
