{% extends 'base.html' %}
{% set new_game_url = url_for('new_woordrader') %}
{% set submit_guess_url = url_for('guess_woordrader') %}


    {% block extrainfogamesetup %}
    <label>
        <input type="radio" name="mode" value="normal"
            {% if session.get('mode', 'normal') == 'normal' %}checked{% endif %}> Normal Mode
    </label>
    <label>
        <input type="radio" name="mode" value="easy"
            {% if session.get('mode') == 'easy' %}checked{% endif %}> Easy Mode
    </label>
    {% endblock %}

    {% block puzzle %}
    <div id="puzzleSpecific">
        {% include "woordraderspecific.html" %}
    </div>
    {% endblock %}

